body{
    font-size: 20px;
}
h2{
    font-size: 44px;
    font-weight: lighter;
}
.grand-parent {
    display: block;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.relative {
    position: relative;
    background-color: lightgrey;
    width: 100%;
    height: 300px;
    font-size: 28px;
    padding: 40px;
    text-align: center;
}
.absolute {
    position: absolute;
    right: -40px;
    bottom: 0px;
    width: 40%;
    height: 150px;
    background-color: grey;
    padding: 40px;
    font-size: 28px;
    text-align: center;
}
#fixed {
    position: fixed;
    left: 0;
    top: 0;
    background-color: lightgrey;
    padding: 40px;
    font-size: 28px;
}